.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 9999;
}

.loading:after {
	content: "Loading...";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 30px;
	font-family: 'Signika', sans-serif;
	animation: loading_text 1.5s ease-in-out infinite;
}

@keyframes loading_text {
	0%, 100% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
}

.loading:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 50px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
	border: 8px solid #333;
	border-top-color: #fff;
	border-radius: 50%;
	animation: loading_spinner 1s linear infinite;
}

@keyframes loading_spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}